*,
*::before, 
*::after {
	box-sizing: border-box;
}
button, 
button:active, 
button:focus,
input,
input:active,
input:focus {
    outline: none;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
	background: #0A090A url(../img/main-bg.png) no-repeat top center;
	background-size: contain;
	
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
.header {
	padding-top: 45px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40%;
}
.logo {
	font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}
.search {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 0.8;
}
.search-input {
	flex: 1;
	background: rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  padding: 12px 18px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  color: #AEAEAE;
}
::-webkit-input-placeholder { /* Edge */
  color: #AEAEAE;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #AEAEAE;
}

::placeholder {
  color: #AEAEAE;
}
.search-button {
	border: none;
	background-color: transparent;
	padding: 10px 18px;
	cursor: pointer;
}
.user {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}
.avatar {
	width: 40px;
	height: 40px;
	margin-left: 20px;
	border-radius: 50%;
	object-fit: cover;
}
.bookmark {
  transition: 0.5s;
}
.bookmark:hover {
	background-image: url(../img/icon/bookmark-icon.svg);
  fill: #ff8f27;
  border: none;
  transition: 0.5s;
}
h1.title {
	font-family: 'Playfair Display', serif;
	font-size: 48px;
  line-height: 64px;
  margin-bottom: 7px;
}
.subtitle {
	display: inline-block;
	font-size: 20px;
  line-height: 23px;
  color: #787878;
  margin-bottom: 38px;
}
.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 105px;
}
.info_movie {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.info_movie__tag {
	display: inline-block;
	margin-right: 20px;
	color: #333;
	font-size: 16px;
  line-height: 19px;
  padding: 5px 10px;
  border-radius: 3px;
  background: #fff;
}
.info_movie__country {
	font-size: 16px;
  line-height: 19px;
  margin-right: 33px;
}
.info_movie__play {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
}
.info_movie__play:hover {
  color: #ff8f27;
	transition: 0.5s ease;
}
.info_movie__play::before {
	content: "";
	width: 30px;
	height: 30px;
	background: url(../img/icon/play.svg) no-repeat;
	background-size: 100%;
	margin-right: 15px;
}
.info_more {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
  line-height: 19px;
  transition: 0.3s ease;
}
.info_more:hover {
  color: #ff8f27;
	transition: 0.3s ease;
	}
.info_more::after {
	content: "";
	width: 30px;
	height: 30px;
	background: url(../img/icon/play.svg) no-repeat;
	transform: rotate(90deg);
	background-size: 100%;
	margin-left: 15px;
}
/*---------------------------------content*/
.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 3px;
	color: #000;
	padding: 4% 4.5% 4% 4.5%;
}
.content_info__cover {
	display: block;
	margin-top: -45%;
}

.content_info__button {
	background: #FF8F27;
	padding: 10px 44px;
	color: #fff;
	font-size: 14px;
  line-height: 16px;
  border: none;
  margin-top: 20px;
  transition: 0.5s ease;
}
.content_info__button:hover {
	background: #ff8f2780;
	color: #7e6286;
  transition: 0.5s ease;
}
.content_info__title,
.baner-title {
	font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  padding-left: 15px;
}
ul {
	list-style: none;
	padding-left: 15px;
}
.actors { 
	color: #000;
	font-size: 16px;
  line-height: 150%;
  transition: 0.5s;
}
.actors:hover {
	color: #171733;
	text-decoration: none;
	transition: 0.5s;
}
.content_full-info {
  flex: 0.96;
}
.full-info__menu {
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.full-info__menu-item:not(:last-child) {	
	color: #000;
	text-decoration: none;
	font-size: 18px;
  line-height: 21px;
  transition: 0.3s ease;
}
.full-info__menu-item:hover {
	color: #FF8F27;
	transition: 0.3s ease;
}
.full-info__menu-item.menu-item-active {
	color: #FF8F27;
	transition: 0.3s ease;
}
.full-info__text {
	display: flex;
	flex-direction: row;
  justify-content: space-between;
}
.tabs-content {
	margin-right: 12%;
	display: none;
	opacity: 0;
	transition: 0.5s;
}
.visible {
	display: block;
	opacity: 1;
	transition: 0.5s;
}
.premieres-list {
	font-size: 18px;
}
.premieres-data {
	padding-bottom: 10px;
}
.actors-content {
	display: flex;
	flex-wrap: wrap;
}
.actors-item {
	border: 1px solid #ff8f27;
	width: 85%;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  flex-basis: 45%;
}
.actors-item a {
	text-decoration: none;
	color: #000;
}
.actors-item img {
	border: 1px solid #333;
	width: 35%;
}
.actors_title {
	margin: 0;	
}
.actors_role {
	margin: 0;
	margin-top: 7px;
	color: #9a9a9a;
}
.text {
	font-size: 16px;
  line-height: 140%;
  margin-top: 0;

}
.text-title {
	font-weight: 900;
  font-size: 16px;
  line-height: 140%;
}
.baner-form {
	display: flex;
	margin-bottom: 48px;
}
.baner-title {
	margin: 0;
	padding: 0;
	padding-bottom: 14px;
	font-weight: 900;
  font-size: 16px;
  line-height: 150%;
}
.baner_mail {
	background: rgba(241, 241, 241, 0.5);
	border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 12px 0 12px 12px;
  font-size: 14px;
  color: #9B9B9B;
  line-height: 16px;
}
.baner_mail::placeholder {
  color: #9B9B9B;
}
.button-mail {
	background: #FF8F27;
  border-radius: 0px 5px 5px 0px;
  border: none;
  padding: 12px;
  margin-left: -7px;
}
.baner-img {
	width: 100%;
}
.footer { 
  display: flex;
  margin-top: 25px;
 }
.footer-form {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 30px;
  width: 60%;
  margin-bottom: 20px;
}
.footer-form::before,
.footer-form::after {
	position: absolute;
  border: 2px solid #4e4e4e;
   top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}
.footer-form::after {
	top: 5px;
  left:5px;
}
.footer-form label {
	font-size: 16px;
  line-height: 19px;
  padding: 10px 0;
}
.footer-form input {
  background: rgba(241, 241, 241, 0.5);
  border-radius: 5px;
  padding: 12px 18px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
}
h4 {
	font-family: 'Playfair Display', serif;
  font-size: 48px;
  line-height: 64px;
  margin-top: 30px;
  margin-right: 10%;
}
.footer-button {
	background: #FF8F27;
	padding: 10px 44px;
	color: #fff;
	font-size: 14px;
  line-height: 16px;
  border: none;
  margin-top: 20px;
}
.footer-button:hover {
	background: #ff8f2780;
	color: #FFF;
  transition: 0.5s ease;
}
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.text {
	font-size: 15px;
  }
  .full-info__menu .full-info__menu-item {
  	font-size: 16px;
  }
  h4 {
  	font-size: 40px;
  }
}

@media (max-width: 992px) {
  .container {
		max-width: 740px;
	}
	.content_full-info,
	.full-info__text {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.full-info__menu .full-info__menu-item {
		flex-basis: 25%;
		line-height: 2;
	}
	.tabs-content {
    margin-right: 10%;
   }
  .tabs-content {
  	margin-bottom: 30px;
  }
  .text,
  ul li {
	font-size: 14px;
  }
  h4 {
  	font-size: 31px;
  }
}

@media (max-width: 768px) {
	.container {
    max-width: 560px;
	}
	.info_more {
		display: none;
	}
	.full-info__menu .full-info__menu-item {
    flex-basis: 50%;
  }
  .logo {
    font-size: 21px;
  }
  .search-input {
    font-size: 12px;
  }
  h1.title {
    font-size: 42px;
  }
  .subtitle {
  	font-size: 18px;
  }
  .info_movie__country,
  .info_movie__play {
  	font-size: 15px;
  }
  .footer {
  	flex-direction: column;
  	align-items: center;
  	margin-top: 0;
  }
  .actors-item {
    flex-basis: 42%;
  }
  .actors_title {
  	font-size: 16px;
  }
  .actors_role {
  	font-size: 14px;
  }
}
@media (max-width: 578px) {
	.container {
    width: 90%;
	}
	.header,
	.info_movie {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-top: 15px;
	}
	.search {
		flex-basis: 100%;
		order: 3;
		margin-top: 10px;
	}
  body {
  	background-size: auto;
  }
  .content_info__title,.actors {
  	display: none;
  }
  .content  {
    flex-direction: column;
    align-items: baseline;
    }
}
@media (max-width: 445px) {
	h1.title {
    font-size: 38px;
  }
  
  .info_movie__country,
  .info_movie__play {
  	font-size: 14px;
  }
  .full-info__baner,
  .content_info {
  	margin: auto;
  }
  .info_movie__play {
  	margin-top: 15px;
  }
  .footer-form {
    width: 90%;
  }
  .actors-item {
  flex-basis: 43%;
  }
}



